/*---------인사말--------*/
.large-text-wrapper {
    text-align: left;
    max-width: 1100px;
    width: 100%;
    padding: 0;
    margin-top: 48px;
    font-size: var(--title-02);
}

.small-text-wrapper {
    text-align: left;
    max-width: 1100px;
    width: 100%;
    padding: 0;
    margin-top: 56px;
    color: var(--text-secondary);
    font-size: var(--body-03);
}

.sign-wrapper {
    display: flex;
    justify-content: right;
    max-width: 1100px;
    width: 100%;
    margin-top: 62px;
}
.sign {
    width: 194px;
    height: 48px;
}

.text-accent {
    color: #4262ff;
}

.center-img {
    max-width: 1100px;
    width: 100%;
    height: 350px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*---------인사말--------*/

/*---------오시는길--------*/

.location-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    padding: 0 120px;
}

.location-title {
    font-size: var(--title-02);
    text-align: left;
    width: 100%;
}

.location-detail-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.location-map {
    height: 498px;
    width: 550px;
    border-radius: 4px;
    box-sizing: border-box;
    background: var(--background-gray-03);
}

.location-detail {
    height: 498px;
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    box-sizing: border-box;
    background: var(--background-gray-01);
}

.location-detail-content-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.location-detail-title {
    font-size: var(--body-03);
    color: var(--text-third);
    text-align: left;
}

.location-detail-content {
    font-size: var(--body-04);
    color: var(--text-secondary);
    margin-top: 4px;
    text-align: left;
}

.location-detail-content-small {
    font-size: var(--body-03);
    color: var(--text-secondary);
    margin-top: 4px;
    text-align: left;
}

.public-transport-wrapper {
    font-size: var(--body-03);
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.public-transport-title {
    color: var(--text-primary);
    width: 110px;
    text-align: left;
}

.public-transport-content {
    color: var(--text-secondary);
    text-align: left;
    width: 372px;
}

/*---------오시는길--------*/

@media (max-width: 512px) {
    .large-text-wrapper {
        font-size: var(--subtitle-03);
    }
    .sign {
        width: 145px;
        height: 36px;
    }

    .small-text-wrapper {
        font-size: var(--body-02);
        margin-top: 48px;
    }
    .center-img {
        height: 180px;
    }
}
