@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
* {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

span {
    word-break: keep-all;
}

:root {
    /* ---------------Colors---------------*/
    --color-blue-filled: #008dff;
    --color-blue-hover: #0079eb;
    --color-blue-disabled: #e5e7eb;
    --color-gray-filled: #374151;
    --color-gray-hover: #111827;
    --color-gray-disabled: #e5e7eb;

    --background-gray-03: #e7eef5;
    --background-gray-02: #f4f6f8;
    --background-gray-01: #fcfcfc;
    --background-white-01: #ffffff;
    --background-blue-01: #008dff;

    --stroke-gray-04: #374151;
    --stroke-gray-03: #687280;
    --stroke-gray-02: #9ca3af;
    --stroke-gray-01: #d1d5db;
    --stroke-blue-01: #008dff;
    --stroke-red-01: #ef4444;

    --text-primary: #111827;
    --text-secondary: #4b5563;
    --text-third: #9ca3af;
    --text-disabled: rgba(17, 24, 39, 0.2);
    --text-white: #ffffff;
    --text-blue: #008dff;
    --text-sub-blue: #99d2fe;
    --text-red: #ef4444;
    --text-sub-red: #f87171;
    /* ------------------------------------*/

    /* ----------------Font----------------*/
    --page-title-03: 48px;
    --page-title-02: 40px;
    --page-title-01: 36px;
    --title-03: 32px;
    --title-02: 28px;
    --title-01: 24px;
    --subtitle-03: 20px;
    --subtitle-02: 16px;
    --subtitle-01: 14px;

    --body-05: 20px;
    --body-04: 18px;
    --body-03: 16px;
    --body-02: 14px;
    --body-01: 12px;
    --body-caption: 10px;
    /* ------------------------------------*/
}

/* ----------------Font----------------*/
[class*='title'] {
    font-family: 'Pretendard';
    font-style: 'normal';
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.01em;
}

.page-title-03 {
    font-size: 48px;
}

.page-title-02 {
    font-size: 40px;
}

.page-title-01 {
    font-size: 36px;
}

.title-03 {
    font-size: 32px;
}

.title-02 {
    font-size: 28px;
}

.title-01 {
    font-size: 24px;
}

.subtitle-03 {
    font-size: 20px;
}

.subtitle-02 {
    font-size: 16px;
}

.subtitle-01 {
    font-size: 14px;
}

[class*='body'] {
    font-family: 'Pretendard';
    font-style: 'normal';
    line-height: 160%;
    letter-spacing: -0.01em;
}

[class*='-me'] {
    font-weight: 500;
}

[class*='-bd'] {
    font-weight: 700;
}

[class*='body-05'] {
    font-size: 20px;
}

[class*='body-04'] {
    font-size: 18px;
}

[class*='body-03'] {
    font-size: 16px;
}

[class*='body-02'] {
    font-size: 14px;
}

[class*='body-01'] {
    font-size: 12px;
}

.body-caption {
    font-weight: 500;
    font-size: 10px;
}
/* ------------------------------------*/

/* ---------------Round----------------*/
.round-04 {
    border-radius: 4px;
}

.round-08 {
    border-radius: 8px;
}

.round-12 {
    border-radius: 12px;
}

.round-16 {
    border-radius: 16px;
}

.round-20 {
    border-radius: 20px;
}
/* ------------------------------------*/

/* ---------------Shadow---------------*/
.shadow-01 {
    box-shadow: 0px 0px 1px rgba(66, 66, 66, 0.04),
        0px 2px 4px rgba(117, 117, 117, 0.16);
}

.shadow-02 {
    box-shadow: 0px 1px 2px rgba(66, 66, 66, 0.04),
        0px 4px 8px rgba(117, 117, 117, 0.16);
}

.shadow-03 {
    box-shadow: 0px 2px 4px rgba(66, 66, 66, 0.04),
        0px 8px 16px rgba(117, 117, 117, 0.16);
}
/* ------------------------------------*/
.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    margin: 0 auto;
}

.content-wrapper-small {
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content-wrapper-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

.top-img {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .top-img {
        height: 330px;
    }
    .content-wrapper {
        padding: 0 16px;
    }
    .content-wrapper-small {
        padding: 0 16px;
    }
}

/* --------------top image----------------*/
.content-top-img {
    height: 400px;
    background-image: url(${img_src});
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-top-img > .content-wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0px 80px;
}

.content-top-img > .content-wrapper > .content-container {
    position: absolute;
    top: 50%;
    max-width: 1100px;
    width: calc(100% - 160px);
    transform: translate(0%, -50%);
}

.content-top-img .content-wrapper > .content-container > .content-title {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--page-title-01);
    line-height: 130%;
    /* or 47px */

    letter-spacing: -0.01em;

    /* Txt/White */

    color: var(--text-white);
    margin-bottom: 21px;
}

.content-top-img .content-wrapper > .content-container > .content-summary {
    cursor: pointer;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: var(--body-03);
    line-height: 160%;
    /* identical to box height, or 26px */

    letter-spacing: -0.01em;
    margin: 0;
    width: content-fit;

    color: var(--text-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9.17px;
}

.content-top-img div .image {
    display: flex;
}

.content-top-img .image {
    width: 25.67px;
    margin: 0;
}

.content-top-img .content-summary span {
    line-height: 26px;
}

@media (max-width: 1024px) {
    .content-top-img {
        height: 330px;
    }
    .content-top-img > .content-wrapper > .content-container {
        position: absolute;
        top: 50%;
        width: calc(100% - 32px);
        transform: translate(0%, -50%);
    }
    .content-top-img .content-wrapper {
        padding: 0px 16px;
    }

    .content-top-img .content-wrapper > .content-container > .content-title {
        font-size: var(--subtitle-03);
        margin-bottom: 12px;
    }

    .content-top-img .content-wrapper > .content-container > .content-summary {
        font-size: var(--body-02);
        color: var(--text-white);
    }
    .content-top-img .content-summary .image {
        margin-right: 8.75px;
        width: 16.5px;
    }
    .content-top-img .content-summary span {
        line-height: 26px;
        margin-left: 8px;
    }
}

.empty-posts {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-posts > span {
    font-size: var(--body-05);
    color: var(--text-third);
    margin: 0;
    padding: 192px 0 240px 0;
}

.rightArrow {
    width: 7px;
    margin-left: 6px;
}

img{
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    backface-visibility: hidden;
}
