@charset "utf-8";

*{
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100%;
}

footer {
    height: 342px;
    width: 100%;
    background-color:#1A2433;
    display: block;
    color: #9CA3AF;
    padding: 60 170 119 170;
    margin: 0 auto;
}
.L{
    width: 1440px;
}
.M{
    width:1024px;
}

.center{
    height: 100%;
    background-color:#1A2433;
    display: block;
    color: #9CA3AF;
    margin: 0 auto;
}
.size{
    width : 100%;
    float: left;
}
.logo{
    weight:105px;
    height:32px;
    float: left;
    
}

.list{
    weight: 512px;
    margin-left: 24px;
    float: right;
}

.list li{
    float: left;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
}

.middle{
   margin-top: 28px;
}
.left{
    float: left;
    width: auto;
}

.right{
    float: right;
}
.social{
    margin-left: 22px;
}
.bottom{
    margin-top: 20px;
}
.line{
    margin-top: 23px;
}
.top{
    margin-top: 60px;
}