.post-container {
    width: 100%;
    max-width: 1100px;
    margin: 64px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

#content1 .post-container > div,
#content3 .post-container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--stroke-gray-01);
    gap: 8px;
    padding: 24px 0;
}

#content1 .post-container > div > span:first-child,
#content3 .post-container > div > span:first-child {
    font-size: var(--subtitle-03);
    color: var(--color-gray-hover);
    width: 100%;
    cursor: pointer;
}

#content1 .post-container > div > span:last-child,
#content3 .post-container > div > span:last-child {
    font-size: var(--body-03);
    color: var(--text-third);
    width: 100%;
    cursor: pointer;
}

pagination-container {
    margin-bottom: 120px;
}

@media (max-width: 1024px) {
    #content1 .post-container,
    #content3 .post-container {
        margin: 32px 0;
    }

    #content1 .post-container > div > span:first-child,
    #content3 .post-container > div > span:first-child {
        font-size: var(--body-03);
    }

    #content1 .post-container > div > span:last-child,
    #content3 .post-container > div > span:last-child {
        font-size: var(--body-02);
    }
}

#content2 .post-container {
    gap: 24px;
    align-items: start;
}

#content2 .post-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(25% - 18px);
}

#content2 .post-container > div > img {
    height: 180px;
    border-radius: 4px;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--stroke-gray-01);
    object-fit: cover;
}

#content2 .post-container > div > div {
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 16px;
    gap: 8px;
    box-sizing: border-box;
    width: 100%;
}

#content2 .post-container > div > div > span {
    width: 100%;
}

#content2 .post-container > div > div > span:last-child {
    font-size: var(--body-04);
    color: var(--text-primary);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

#content2 .post-container > div > div > span:first-child {
    font-size: var(--body-02);
    color: var(--text-third);
}

@media (max-width: 1024px) {
    #content2 .post-container {
        gap: 8px;
        margin: 32px 0;
    }
    #content2 .post-container > div {
        width: calc(50% - 4px);
    }

    #content2 .post-container > div > img {
        height: 104px;
    }

    #content2 .post-container > div > div {
        padding: 8px;
        gap: 8px;
        height: 88px;
    }

    #content2 .post-container > div > div > span:last-child {
        font-size: var(--body-02);
    }
    #content2 .post-container > div > div > span:first-child {
        font-size: var(--body-01);
    }
}

#content1 > .top-img {
    content: url(/image/pages/research-field/1-0.png);
}
#content2 > .top-img {
    content: url(/image/pages/research-field/2-0.png);
}
#content3 > .top-img {
    content: url(/image/pages/research-field/3-0.png);
}

@media (max-width: 1024px) {
    #content1 > .top-img {
        content: url(/image/pages/research-field/1-0-m.png);
    }
    #content2 > .top-img {
        content: url(/image/pages/research-field/2-0-m.png);
    }
    #content3 > .top-img {
        content: url(/image/pages/research-field/3-0-m.png);
    }
}
