.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 80px;
    max-width: 1100px;
}

.container > span:first-child {
    font-size: var(--title-03);
    margin-top: 64px;
    color: var(--text-primary);
    width: 100%;
    text-align: left;
}

.container > span:nth-child(2) {
    margin-top: 24px;
    color: var(--text-third);
    font-size: var(--body-04);
    width: 100%;
    text-align: left;
}

.container > span:nth-child(3) {
    margin-top: 64px;
    color: var(--text-secondary);
    font-size: var(--body-03);
    width: 100%;
    text-align: left;
}

.container > div:nth-child(4) {
    width: 100%;
    margin-top: 64px;
    display: flex;
    justify-content: right;
    margin-bottom: 120px;
}

@media (max-width: 512px) {
    .container {
        padding: 0 16px;
    }

    .container > span:first-child {
        font-size: var(--subtitle-03);
    }

    .container > span:nth-child(2) {
        font-size: var(--body-03);
        margin-top: 12px;
    }

    .container > span:nth-child(3) {
        font-size: var(--body-02);
        margin-top: 48px;
    }

    .container > div:nth-child(4) {
        margin-top: 48px;
    }
}
