.main-title {
    /* Title/Title03 */
    margin-top: 0px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-03);
    line-height: 130%;
    /* or 42px */

    letter-spacing: -0.01em;

    /* Txt/Primary */

    color: var(--text-primary);
}

.item-title {
    /* Title/Title01 */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-01);
    line-height: 130%;
    /* or 31px */

    letter-spacing: -0.01em;

    /* Txt/Primary */

    color: var(--text-primary);

}

.content-sub-title {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--subtitle-03);
    line-height: 130%;
    /* identical to box height, or 26px */

    letter-spacing: -0.01em;

    /* Txt/Third */

    color: var(--text-third);
    margin-bottom: 12px;
}

.content-sub-text {
    /* Body/Body05-ME */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: var(--body-05);
    line-height: 160%;
    /* or 32px */

    letter-spacing: -0.01em;

    /* Txt/Primary */

    color: var(--text-primary);
}

.content-padding {
    width: 100%;
    padding: 80px 0px;
    float: left;
}

.content-padding .main-title {
    margin-bottom: 48px;
}

.benefit-item {
    margin-bottom: 32px;
}

.process {
    padding: 32px 72px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}

.process .table {
    float: left;
    width: calc(50% - 128px);
}

.text-body-02 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: var(--body-02);
    line-height: 160%;
    /* or 22px */

    text-align: center;
    letter-spacing: -0.01em;

    /* Txt/Third */

    color: var(--text-third);

}

.text-subtitle-02 {
    /* Title/Sub-Title02 */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--subtitle-02);
    line-height: 130%;
    /* or 23px */

    text-align: center;
    letter-spacing: -0.01em;

    /* Color Gray/Filled */

    color: var(--color-gray-filled);

}

.process .table div {
    width: 100%;
    background-color: var(--background-white-01);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--subtitle-02);
    line-height: 130%;
    text-align: center;
    border-radius: 4px;
    /* or 23px */

    text-align: center;
    letter-spacing: -0.01em;

    /* Color Gray/Filled */

    color: var(--color-gray-filled);
    padding: 16px 0px;

}

.process .table .first-item {
    color: var(--text-white);
    background-color: var(--background-blue-01);
}

.process .middle-item {
    padding: 0px 48px;
    float: left;
}

.process .table img {
    display: block;
    margin: 12px auto;
}

.add {
    text-align: center;
    /* Title/Page-Title02 */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    /* identical to box height, or 52px */

    text-align: center;
    letter-spacing: -0.01em;

    /* Txt/Primary */

    color: var(--text-primary);

}

.box {
    width: 160px;
    height: 160px;
    background-color: var(--background-gray-02);
    text-align: center;
}

.box-text {
    /* Title/Sub-Title03 */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--sub-title03);
    line-height: 130%;
    /* identical to box height, or 26px */

    letter-spacing: -0.01em;

    /* Txt/Primary */

    color: var(--text-primary);
}

.lab-process-container {
    width: 100%;
    padding: 54px 0px;
}

.lab-process-item {
    width: calc(16.66% - 30.6px);
    float: left;
    margin-right: 36.72px;
}

.process-num {
    background-color: var(--background-blue-01);
    color: var(--text-white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    margin-bottom: 11px;

    /* Title/Title01 */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-01);
    /* or 31px */

    text-align: center;
    letter-spacing: -0.01em;
}

.text-item {
    margin-bottom: 32px;
}

.process-item-text {
    height: 46px;
    padding: 11px 16px 14px;
    background-color: var(--background-white-01);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--subtitle-02);
    line-height: 130%;
    text-align: center;
    border-radius: 4px;
    /* or 23px */

    text-align: center;
    letter-spacing: -0.01em;

    /* Color Gray/Filled */

    color: var(--color-gray-filled);
}

/* 연구소 기업 설립 지원 */

.item-wrapper {
    padding: 32px 30px;
    width: 100%;
}

.estabilish-item {
    width: calc(33.33% - 42.7px);
    margin-right: 64px;
    float: left;
    text-align: center;
}

.estabilish-item:last-child {
    margin-right: 0px;
}

.item-title {
    /* Title/Title01 */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--title-01);
    line-height: 130%;
    /* or 31px */

    letter-spacing: -0.01em;

    /* Txt/Primary */

    color: var(--text-primary);
}

.estabilish-box-area {
    margin-top: 16px;
}

.top-box {
    padding: 23.5px 24px;
}

.estabilish-box {
    width: calc(50% - 12px);
    float: left;
}

.estabilish-mid {
    width: 24px;
    float: left;
}

.top-box .text-subtitle-02 {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--stroke-gray-01);
}

.top-box .text-body-02 {
    padding-top: 16px;
}

.bottom-text-box {
    width: 100%;
    background-color: var(--background-blue-01);
    padding-top: 4px;
    padding-bottom: 4px;
    color: var(--text-white);
    position: relative;
    z-index: 2;
    top: -39px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 160%;
    /* identical to box height, or 13px */

    text-align: center;
    letter-spacing: -0.01em;

    /* Txt/White */

    color: var(--text-white);
}

.bottom-box {
    margin-top: 16px;
}

.bottom-box-item {
    width: calc(50% - 2px);
    float: left;
    margin-right: 4px;

}

.bottom-box-item:last-child {
    margin-right: 0px;
}

.bottom-box-item img {
    position: relative;
    z-index: 1;
}


.estabilish-footer {
    width: 100%;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
}

.content-item {
    margin-bottom: 32px;
}

.text-body-04 {
    /* Body/Body04-ME */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: var(--body-04);
    line-height: 160%;
    /* or 29px */

    letter-spacing: -0.01em;

    /* Txt/Primary */

    color: var(--text-primary);
}

.text-body-03 {
    /* Body/Body03-ME */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: var(--body-03);
    line-height: 160%;
    /* identical to box height, or 26px */

    letter-spacing: -0.01em;

    /* Txt/Third */

    color: var(--text-third);
}

.lab-process-item-5{
    width: calc(20% - 36.8px);
    margin-right: 46px;
}
.lab-process-item-5 .shadow-02{
    padding: 11px 16px 14px 16px;
}
.lab-process-item-5:last-child{
    margin-right: 0px;
}

.lab-process-item-5 .shadow-02 div:last-child{
    text-align: center;
    margin-top: 14px;
}
.shadow-02 .process-item-text{
    border-bottom: 1px solid var(--stroke-gray-01);
}
@media (max-width: 640px) {
    .content-padding {
        padding: 48px 0px;
    }

    .main-title {
        font-size: var(--subtitle-03);
    }

    .content-sub-title {
        font-size: var(--body-04);
    }

    .content-sub-text {
        font-size: var(--body-03);
    }

    .process {
        padding: 0px;
    }

    .text-item {
        margin-bottom: 24px;
    }
    .lab-process-item{
        width: calc(33.33% - 30px);
        margin-right: 15px;
        float: left;
        margin-top: 15px;
    }
    .lab-process-container{
        display: inline-block;
    }
    .lab-process-item:nth-child(3n){
        margin-right: 0px;
    }
    .estabilish-item{
        width: 100%;
        margin-top: 45px;
        margin-right: 0px;
    }
    .estabilish-item:first-child{
        margin-top: 0px;
    }
    .item-wrapper{
        padding: 0px;
    }
    .text-body-02{
        font-size: var(--body-01);
    }
    .shadow-02 .process-item-text{
        font-size: var(--subtitle-01);
    }
    .lab-process-item-5:nth-child(4){
        margin-left: calc(15%);
    }
}