.main-title {
    font-size: var(--title-03);
    width: 100%;
    max-width: 1100px;
    text-align: left;
    margin-top: 64px;
}

.top-content-wrapper {
    margin-top: 48px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.top-content-img {
    width: 725px;
    height: 400px;
    border-radius: 8px;
}

.top-content-detail-container {
    width: 351px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
    box-sizing: border-box;
}

.top-content-detail-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}

.top-content-detail-button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.top-content-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 26px;
}

.top-content-detail-name {
    color: var(--text-third);
    font-size: var(--body-03);
    width: 80px;
    text-align: left;
}

.top-content-detail-value {
    color: var(--text-primary);
    font-size: var(--body-03);
    text-align: left;
    margin-left: 15px;
}

.subcontent-wrapper {
    width: 100%;
    max-width: 1100px;
    margin-top: 32px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.subcontent-title {
    font-size: var(--subtitle-03);
    color: var(--text-primary);
    text-align: left;
    width: 66%;
}

.subcontent-list-container {
    width: 66%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.subcontent-list {
    font-size: var(--body-04);
    color: var(--text-primary);
    text-align: left;
    list-style: inside;
    list-style-position: inside;
    text-indent: -24px;
    margin-left: 36px;
    width: calc(100% - 36px);
}

.subcontent-content {
    font-size: var(--body-04);
    color: var(--text-primary);
    width: 100%;
    margin-top: 16px;
}
