.main-title {
    font-size: var(--title-03);
    margin-top: 64px;
    width: 100%;
    max-width: 1100px;
    text-align: left;
}

.main-img {
    width: 100%;
    max-width: 1100px;
    margin-top: 48px;
    border-radius: 8px;
    height: 400px;
}

.detail-wrapper {
    width: 100%;
    max-width: 1100px;
    margin-top: 32px;
}

.summary-wrapper {
    width: 100%;
    max-width: 1100px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.summary-title {
    font-size: var(--subtitle-03);
    width: 100%;
    text-align: left;
}

.summary-content {
    font-size: var(--body-04);
    margin-top: 16px;
    text-align: left;
}

.detail-title {
    font-size: var(--subtitle-03);
    width: 100%;
    text-align: left;
}

.detail-table {
    width: 100%;
    box-sizing: border-box;
    border-left: 1px solid var(--stroke-gray-01);
    border-top: 1px solid var(--stroke-gray-01);
    margin-top: 16px;
}

.detail-table-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.table-name {
    width: 14.5%;
    background: var(--background-gray-02);
    justify-content: center;
    font-size: var(--body-03);
}

.table-value {
    width: 35.5%;
    justify-content: left;
    padding: 14px;
    color: var(--text-secondary);
    font-size: var(--body-02);
}

td {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 1px solid var(--stroke-gray-01);
    border-left: none;
    border-top: none;
    height: 50px;
}

.caution {
    width: 100%;
    max-width: 1100px;
    text-align: left;
    color: var(--text-third);
    font-size: var(--body-04);
    margin-top: 64px;
}

.button-wrapper {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: right;
    margin-top: 64px;
    margin-bottom: 120px;
}

@media (max-width: 640px) {
    .main-title {
        font-size: var(--subtitle-03);
        margin-top: 36px;
    }

    .main-img {
        margin-top: 36px;
        border-radius: 4px;
        height: 180px;
    }

    .detail-wrapper {
        margin-top: 32px;
    }

    .detail-title {
        font-size: var(--body-04);
    }

    .detail-table-row {
        flex-direction: column;
    }

    .table-name {
        width: 100%;
        justify-content: left;
        padding: 12px 16px;
        font-size: var(--body-02);
    }

    .table-value {
        width: 100%;
        padding: 12px 16px;
    }

    .summary-title {
        font-size: var(--subtitle-02);
    }

    .summary-content {
        font-size: var(--body-02);
    }

    .caution {
        margin-top: 36px;
        font-size: var(--body-02);
    }
    .button-wrapper {
        margin-top: 48px;
    }

    td {
        height: 46px;
    }
}
