body {
    font-family: 'Pretendard';
}
.cardContainer {
    max-width: 1100px;
    display: block;
    margin: 0 auto;
}
company-card {
    width: calc(33.33% - 20px);
    padding: 24px;
    box-sizing: border-box;
    margin-right: 24px;
    display: inline-block;
    height: 282px;
}
.cardContainer company-card:last-child{
    margin-right: 0px;
}

.companyHompage input {
    background-color: var(--background-white-01);
    border: solid 1px var(--stroke-gray-01);
    padding: 6px 12px;
    font-size: var(--body-03);
    line-height: 25.6px;
}

pagination-container {
    margin-top: 72px;
    margin-bottom: 120px;
}

@media (max-width: 640px) {
    .cardContainer {
        width: 100%;
    }
    .companyCard {
        width: 100%;
        padding: 32px;
        margin: 0px;
        height: auto;
    }
    .companyName {
        width: 80%;
    }
    company-card {
        width: 100%;
        padding: 16px;
        margin-right: 0px;
        box-sizing: border-box;
        display: inline-block;
        height: 215px;
    }
    pagination-container{
        margin-top: 32px;
        margin-bottom: 120px;
    }
}
