.content-main-nimg {
    display: block;
    background-color: #ddd;
    width: 100%;
    height: 400px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-btn {
    font-size: var(--body-04);
}

.lent-container {
    letter-spacing: -0.01em;
    display: block;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-top: 107px;
    padding-bottom: 106px;
    text-align: left;
    line-height: 160%;
}

.content-title {
    color: var(--text-white);
    font-size: var(--page-title-01);
    margin-bottom: 40px;
}

.title-01 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    color: var(--text-white);
    letter-spacing: -0.01em;
    font-size: var(--title-01);
    margin-bottom: 24px;
}

.subtitle-01 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--subtitle-01);
    line-height: 130%;
    /* or 18px */

    letter-spacing: -0.01em;

    color: var(--text-white);
}


.content-body {
    color: var(--text-white);
    font-size: var(--body-03);
    margin-top: 24px;
}

.content-button {
    display: inline-block;
    margin-top: 40px;
    font-size: var(--body-04);
    justify-content: left;
}
.text{
    font-size: var(--body-03);
}
.content-button input {
    background-color: var(--background-blue-01);
    color: var(--text-white);
    padding: 7px 14px;
    text-align: center;
    border: 0px;
    cursor: pointer;
    float: left;
}

.content-space {
    display: inline-block;
    max-width: 1100px;
    width: 100%;
    text-align: left;
    line-height: 160%;
    margin: 120px 0px;
}

.content-space-lent-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 120px 0 120px 0;
    text-align: left;
}

.content-space-text {
    margin-bottom: 32px;
    width: 100%;
}

.space {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: var(--text-secondary);
}

.space-title {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: var(--title-02);
    line-height: 36.4px;
    color: var(--color-gray-hover);
}

.space-summary {
    display: block;
    font-size: var(--body-03);
    line-height: 25.6px;
    color: var(--text-priamry);
}

.space-img {
    width: 100%;
    background-color: #ddd;
    height: 320px;
    margin-bottom: 40px;
}

.space-item {
    width: calc(33.33% - 16px);
    float: left;
    padding: 16px 24px;
    box-sizing: border-box;
    display: block;
    background-color: var(--background-gray-01);
    margin-left: 24px;
}

.space-item-first-child {
    margin-left: 0px;
}

.space-item-title {
    display: block;
    font-size: var(--body-04);
    margin-bottom: 12px;
}

.space-item-summary {
    display: block;
    line-height: 22.4px;
    color: var(--text-third);
    font-size: var(--body-02);
}

.benefit {
    background-color: var(--background-gray-01);
}

.benefit-item {
    width: calc(25% - 18px);
    float: left;
    box-sizing: border-box;
    margin: 16px 24px 16px 0px;
    background-color: var(--background-white-01);
}

.benefit-last {
    margin-right: 0px;
}

.benefit-img {
    width: 100%;
    height: 180px;
    background-color: #ddd;
    overflow: hidden;
    margin-bottom: 0;
}

.benefit-item-summary {
    display: block;
    line-height: 22.4px;
    height: 90px;
    box-sizing: border-box;
    font-size: var(--body-02);
    padding: 16px;
    color: var(--text-secondary);
}

.location-item {
    width: 50%;
    box-sizing: border-box;
    height: 484px;
    padding: 32px;
    float: right;
    border-radius: 4px 0px 0px 4px;
    background-color: var(--background-gray-01);
}

.type {
    margin-bottom: 4px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;

    line-height: 160%;
    /* identical to box height, or 26px */

    letter-spacing: -0.01em;

    /* Txt/Third */

    color: var(--text-third);
    font-size: var(--body-03);
}
.content2-1 .space-item{
    min-height: 161px;
}

.value {
    margin-bottom: 25px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    /* identical to box height, or 29px */

    letter-spacing: -0.01em;

    /* Txt/Secondary */

    color: var(--text-secondary);
    font-size: var(--body-04);
}

.lentBtn {
    background-color: var(--color-gray-filled);
    color: var(--text-white);
    font-size: var(--body-04);
    padding: 7px 14px;
    cursor: pointer;
}

.lentBtn:hover {
    background-color: var(--color-gray-hover);
    color: var(--text-white);
}

.map2 {
    width: 50%;
    height: 420px;
    text-align: left;
    position: relative;
}

.map2 .inforamtion-wrapper {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.map {
    width: 50%;
    height: 484px;
    text-align: center;
}

.process-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.process-item {
    width: 170px;
    height: 140px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process-icon {
    display: flex;
    width: 24px;
    margin: 0 auto;
    margin-top: 39px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--text-blue);
}

.process-item-summary {
    /* Body/Body03-BD */
    margin: 0 auto;
    margin-top: 12px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--body-03);
    line-height: 160%;
    /* identical to box height, or 26px */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;

    /* Txt/Secondary */

    color: var(--text-secondary);
}

.process-line {
    position: relative;
    bottom: 98px;
    border: 1px solid var(--text-blue);
    width: calc(100% - 172px);
}

.process-item-detail {

    font-size: var(--body-01);
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: center;

}

.line {
    line-height: 25.6px;
}

.small-img {
    display: none;
}

.summary-detail {
    margin-top: 12px;
    float: left;
    /* Body/Caption */

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: var(--body-01);
    line-height: 160%;
    /* or 19px */

    letter-spacing: -0.01em;

    /* Txt/Third */

    color: var(--text-third);
}

.image-height {
    height: 400px;
}

.preferential .space-item {
    min-height: 135px;
}

.item-height {}



.content-top-img {
    height: 400px;
    background-image: url(../../../image/pages/lentspace/3-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-top-img .content-wrapper {
    height: 100%;
}

.content-top-img .content-container {
    position: absolute;
    top: 50%;
    max-width: 1100px;
    width: calc(100% - 160px);
    transform: translate(0%, -50%);
}

.content-top-img .content-title {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: var(--page-title-01);
    line-height: 130%;
    /* or 47px */

    letter-spacing: -0.01em;

    /* Txt/White */

    color: var(--text-white);
    margin-bottom: 21px;
}

.content-top-img .content-summary {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: var(--body-03);
    line-height: 160%;
    /* identical to box height, or 26px */

    letter-spacing: -0.01em;


    color: var(--text-white);
}


.content-top-img .content-summary span {
    line-height: 26px;
}

.top-btn {
    width: 209px;
}

.item1 {
    min-height: 157px;
}

.item2 {
    min-height: 157px;
}

.preferential .item3-2 {
    min-height: 157px;
}
.mapimage{
    height: 420px;
}

@media (max-width: 1024px) {
    .preferential .item3-2{
        min-height: auto;
    }
    .type {
        font-size: var(--body-02);
    }

    .value {
        font-size: var(--body-03);
    }

    .top-btn {
        width: 189px;
    }

    .content-top-img {
        height: 330px;
    }

    .content-top-img .content-container {
        position: absolute;
        top: 50%;
        width: calc(100% - 32px);
        transform: translate(0%, -50%);
    }

    .content-top-img .content-title {
        font-size: var(--subtitle-03);
        margin-bottom: 12px;
    }

    .content-top-img .content-summary {
        font-size: var(--body-02);
        color: var(--text-white);
    }

    .content-top-img .content-summary .image {
        margin-right: 8.75px;
        width: 16.5px;
    }

    .content-top-img .content-summary span {
        line-height: 26px;
    }


    .small-img {
        display: block;
    }

    .large-img {
        display: none;
    }

    .image-height {
        height: 330px;
    }

    .lent-container {
        padding-top: 88px;
        padding-bottom: 88px;
    }

    .space {
        font-size: var(--subtitle-01);
    }

    .space-title {
        font-size: var(--subtitle-03);
    }

    .space-item-title {
        font-size: var(--body-03);
    }

    .space-item-summary {
        font-size: var(--body-01);
    }

    .content-body {
        font-size: var(--body-02);
    }

    .content-space {
        margin: 64px 0px;
    }

    .content-space-lent-lent-container {
        padding: 64px 16px;
        font-size: var(--body-02);
    }

    .space-img {
        margin-bottom: 8px;
        height: 165px;
    }

    .space-item {
        width: 100%;
        margin-left: 0px;
        margin-top: 8px;
    }

    .space-item-title {
        margin-bottom: 12px;
    }

    .benefit-item {
        width: 100%;
    }


    .benefit-img {
        margin-bottom: 0px;
    }

    .benefit-item-summary {
        padding: 16px;
        height: 90px;
    }

    .location-item {
        width: 100%;
        padding: 16px;
    }

    .map {
        height: 160px;
    }

    .map2 {
        padding: 16px;
        height: 328px;
        margin-top: 16px;
    }

    .lentBtn {
        font-size: var(--body-02);
    }

    .content-main-img {
        height: 330px;
    }

    .lent-container {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 88px;
        margin-bottom: 88px;
    }

    .process-wrapper {
        flex-direction: column;
    }

    .process-item {
        flex-direction: row;
        height: 80px;
        width: 100%;
        margin-top: 0px;
    }
    .mapimage{
        height: 160px;
    }

    .process-item-summary {
        margin: 0px;
        font-size: var(--body-03);
    }

    .process-icon {
        margin: 27px 12px 29px 16px;
    }

    .process-line {
        height: 400px;
        width: 0px;
        top: -451px;
        left: 26px;
        float: left;
    }

    .location-item {
        box-sizing: border-box;
    }

    .summary-detail {
        width: 100%;
        margin-top: 16px;
    }

    .content-title {
        font-size: var(--subtitle-03);
    }

    .main-btn {
        font-size: var(--body-02);
    }

    .space-summary {
        font-size: var(--body-02);
    }

    .map {
        margin-bottom: 16px;
    }

    .line {
        font-size: var(--body-03);
    }
    .title-01{
        font-size: var(--subtitle-03);
        margin-bottom: 14px;
    }
    .subtitle-01{
        font-size: var(--body-02);
    }
}