card-container{
    max-width: 1100px;
    display: block;
    float: left;
    max-height: 950px;
    overflow: hidden;
}
.padding0{
    padding: 0px;
}
.margin-top64{
    margin-top: 64px;
}
.margin-top0{
    margin-top: 0px;
}
.sub-tab{
    padding: 0px 0px 48px 0px ;
    font-size: var(--title-02);
    line-height: 31.2px;
}

pagination-container{
    font-family: 'Pretendard';
    margin-bottom: 120px;
}
card-content{
    font-family: 'Pretendard';
    display: block;
    float: left;
    width: calc(25% - 16px);
    margin-left: 16px;
}

card-content:nth-child(4n+1){
    margin-left: 0;
}
card-content:nth-child(1){
    margin-left: 0;
}
report-item{
    font-family: 'Pretendard';
    display: block;
    float: left;
    width: calc(25% - 16px);
    margin-right: 16px;
}
promotion-item{
    font-family: 'Pretendard';
    display: block;
    float: left;
    width: calc(25% - 16px);
    margin-right: 16px;

}
report-item:nth-child(4n){
    margin-right: 0px;
}
promotion-item:nth-child(4n){
    margin-right: 0px;
}
@media(max-width: 512px){
    card-container{
        min-width: 328px;
        max-height: 1250px;
        margin: 0;
    }
    
    card-content:nth-child(4n+1){
        margin: 0;
    }
    card-content:nth-child(1){
        margin: 0;
    }
    .sub-tab{
        padding: 32px 0 24px 0;
        font-size: var(--body-05);
        line-height: 24px;
        overflow:hidden;
    }
    card-content{
        display: block;
        float: left;
        width: 47.6%;
        margin:0;
    }
    promotion-item{
        display: block;
        float: left;
        width: 47.6%;
        margin:0;
    }
    report-item{
        display: block;
        float: left;
        width: 47.6%;
        margin:0;
    }
    card-content:nth-child(even){
        margin-left: 16px;
    }
    promotion-item:nth-child(even){
        margin-left: 16px;
    }
    report-item:nth-child(even){
        margin-left: 16px;
    }
}
