card-container{
    max-width: 1100px;
    display: block;
    float: left;
    max-height: 950px;
    overflow: hidden;
}
.sub-tab{
    padding: 48px 0;
    font-size: var(--title-02);
    line-height: 31.2px;
}

pagination-container{
    font-family: 'Pretendard';
    margin-bottom: 120px;
}
card-content{
    font-family: 'Pretendard';
    display: block;
    float: left;
    width: 23.9%;
    margin-left: 16px;
}

card-content:nth-child(4n+1){
    margin-left: 0;
}
card-content:nth-child(1){
    margin-left: 0;
}
@media(max-width: 639px){
    card-container{
        min-width: 328px;
        max-height: 1250px;
        margin: 0;
    }
    
    card-content:nth-child(4n+1){
        margin: 0;
    }
    card-content:nth-child(1){
        margin: 0;
    }
    .sub-tab{
        padding: 32px 0 24px 0;
        font-size: var(--body-05);
        line-height: 24px;
        overflow:hidden;
    }
    card-content{
        display: block;
        float: left;
        width: 45%;
        margin:0;
    }
    card-content:nth-child(even){
        margin-left: 16px;
    }
}