card-container{
    width: 1100px;
    display: block;
    margin-left: 170px;
    float: left;
    max-height: 950px;
    overflow: hidden;
}

@media(max-width: 639px){
    card-container{
        width: 328px;
        max-height: 1250px;
        margin: 0;
    }
    card-content:nth-child(even){
        display: inline-block;
        margin-left: 16px;
    }
}