.container{
    max-width: 1100px;
    margin: 0 auto;
    font-style: 'Pretendard';
    margin-top: 64px;
    margin-bottom: 120px;
    line-height: 160%;
    letter-spacing: -0.01em;
}

.info{
    margin-bottom: 64px;
}
.mainImage{
    margin-bottom: 32px;
}
.mainImage img{
    width: 100%;
    background-color: #ddd;
    height: 400px;
    margin-bottom: 8px;
}
.caption{
    width: 100%;
    color: var(--text-third);
    font-size: var(--body-caption);
    line-height: 19.2px;
}
h1{
    font-size: var(--title-03);
    color: var(--text-primary);
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 130%;
}
.date{
    font-size: var(--body-04);
    color: var(--text-third);
    line-height: 28.8px;
}
.content{
    margin-bottom: 64px;
    font-size: var(--body-03);
    line-height: 25.6px; 
}
input{
    float: right;
    line-height: 25.6px;
    background-color: var(--background-white-01);
    border: var(--stroke-gray-01) 1px solid;
    color: var(--text-secondary);
    font-size: var(--body-03);
    padding: 6px 12px;
}
@media (max-width: 640px) {
    .container{
        margin-top: 36px;
    }
    .mainImage img{
        height: 120px;
    }
    h1{
        font-size: var(--subtitle-03);
        line-height: 26px;
    }
    .info{
        margin-bottom: 48px;
    }
    .date{
        font-size: var(--body-04);
        line-height: 28.8px;
    }
    .content{
        margin-bottom: 48px;
        font-size: var(--body-02);
        line-height: 22.4px;
    }
}
