body{
    text-align: center;
}
a{
    font-style: normal;
    color: #111827;
}
.card-detail-container{
    margin-top: 64px;
    margin-bottom: 120px;
    display: inline-block;
    max-width: 1100px;
    width: 100%;
    text-align: left;
    padding: 0px 80px;
    letter-spacing: -0.01em;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}
.company-name{
    font-size: var(--title-03);
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.01em;
    width: 100%;
    color: var(--text-primary);
    
}
.post-wrapper{
    width: 100%;
}
.company-img{
    margin-top: 48px;
    width: calc(100% - 365px);
    height: 400px;
    float: left;
    background-color: #666666;
    overflow: hidden;
    border-radius: 4px;
}
.company-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.company-info{
    margin-top: 48px;
    width: 287px;
    float: right;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px #75757529;
    display: block;
    padding: 32px;
}
.company-info div{
    margin-top: 16px;
    display: inline-block;
}
.company-info div:nth-child(1){
    margin-top: 0px;
    display: inline-block;
}

.type{
    display: inline-block;
    font-size: var(--body-03);
    line-height: 160%;
    letter-spacing: -0.01em;
    color: var(--text-third);
    width: 80px;
    height: 26px;
    float: left;
}

.value{
    display: inline-block;
    overflow: hidden;
    height: 26px;
    font-size: var(--body-03);
    width: 201px;
    font-weight: 500;
    line-height: 160%;
    color: var(--text-primary);
}
.summary{
    margin-top: 32px;
    font-weight: 500;
    font-size: var(--body-04);
    line-height: 160%;
    letter-spacing: -0.01em;
    width: 725px;
    float: left;
    min-height: 218px;   
    color: var(--text-primary);


}
.summary input{
    float: right;
    margin-top: 64px;
    text-align: center;
    font-size: var(--body-03);
    line-height: 160%;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
    
    color:var(--text-secondary);
    border:1px solid var(--stroke-gray-01);
    background-color: var(--background-white-01);
}

@media (max-width: 1024px) {
    .card-detail-container{
        padding: 0px 16px;
        box-sizing: border-box;
    }
    .company-name{
        font-size: 20px;
        line-height: 26px;
        height: 26px;
        font-weight: 700;
        width: 100%;
    }
    .company-img{
        margin-top: 32px;
        width: 100%;
        height: 180px;
    }
    .company-info{
        margin-top:24px;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
    }
    .company-info div{
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .type{
        width: 100%;
        margin-bottom: 8px;
    }
    .value{
        width: 100%;
    }
    .summary{
        width: 100%;
        font-size: 16px;
        margin-top: 48px;
    }
    .summary input{
        top: 70px;
        left: 240px;
    }
    .summary input{
        margin-top: 48px;
    }
    

}
