.promotion_wrapper{
    max-width: 1100px;
    margin-top: 64px;
    margin-bottom: 64px;
}


@media (max-width: 512px) {
    .promotion_wrapper{
        margin-top: 32px;
        margin-bottom: 32px;
    }
}