body{
    text-align: center;
}
a{
    font-style: normal;
    color: #111827;
}
.card-detail-container{
    margin-top: 64px;
    margin-bottom: 126px;
    display: inline-block;
    width: 1100px;
    text-align: left;
}
.company-name{
    font-size: 32px;
    line-height: 32px;
    font-weight: 700px;
    width: 100%;
    color: #111827;
    
}
.company-img{
    margin-top: 48px;
    width: 725px;
    height: 400px;
    float: left;
    background-color: #666666;

}
.company-info{
    margin-top: 48px;
    width: 287px;
    float: right;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px #75757529;
    display: block;
    padding: 32px;
}
.company-info div{
    margin-top: 16px;
    display: inline-block;
}
.company-info div:nth-child(1){
    margin-top: 0px;
    display: inline-block;
}

.type{
    display: inline-block;
    font-size: 16px;
    line-height: 25.6px;
    color: #9ca3af;
    width: 80px;
    height: 26px;
    float: left;
    
}

.value{
    display: inline-block;
    height: 26px;
    font-size: 16px;
    width: 201px;
    font-weight: 500;
    line-height: 25.6px;
    color: #111827;
}
.summary{
    margin-top: 32px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    width: 725px;
    float: left;
    min-height: 218px;   
}
.summary input{
    position: relative;
    left: 630px;
    top: 70px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
    color:var(--text-secondary);
    border:1px solid var(--stroke-gray-01);
    background-color: var(--background-white-01);
}

@media (max-width: 512px) {
    .card-detail-container{
        width: 328px;
    }
    .company-name{
        font-size: 20px;
        line-height: 26px;
        height: 26px;
        font-weight: 700;
    }
    .company-img{
        margin-top: 32px;
        width: 100%;
    }
    .company-info{
        width: 296px;
        padding: 16px;
    }
    .company-info div{
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .type{
        width: 100%;
        margin-bottom: 8px;
    }
    .value{
        width: 100%;
    }
    .summary{
        width: 100%;
        font-size: 16px;
    }
    .summary input{
        top: 70px;
        left: 240px;
    }
    

}