.report_wrapper{
    max-width: 1100px;
    margin-top: 64px;
    margin-bottom: 64px;
}
.report_item{
    display: block;
    width: 23.36%;
    height: 352px;
    float: left;
    margin-right: 24px;
}
.report_item:nth-child(4n){
    margin-right: 0px;
}

.reportImg{
    width: 100%;
    height: 180px;
    background-color: #ddd;
}

.reportTextContent{
    height: 172px;
    padding: 16px;
    box-sizing: border-box;
}
.summary{
    width: 100%;
    line-height: 22.4px;
    height: 44px;
    overflow: hidden;
    font-size: var(--body-02);
    color: var(--text-third);
}
.reportName{
    font-size: var(--body-04);
    font-weight: 700;
    line-height: 28.8px;
    height: 58px;
    overflow: hidden;
    margin-bottom: 8px;
}
.maker{
    width: 100%;
    margin-top: 8px;
    font-size: var(--body-02);
    color: var(--text-third);
}
.news{
    float: left;
    text-align: left;
}
.reportDate{
    float: right;
    text-align: right;
    
}

@media (max-width: 512px) {
    .report_wrapper{
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .report_item{
        width: 47.56%;
        height: 257px;
        margin-bottom: 8px;
    }
    .report_item:nth-child(2n){
        margin-right: 0px;
    }
    .reportImg{
        height: 104px;
    }
    .reportTextContent{
        height: 109px;
        padding: 8px;
    }
    .reportName{
        height: 44px;
        font-size: var(--body-02);
        line-height: 22.4px;
    }
    .summary{
        height: 44px;
        line-height: 22.4px;
    }
    .reportDate{
        font-size: var(--body-01);
    }
    
    
}