.post-container {
    width: 100%;
    max-width: 1100px;
    margin: 64px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#content1 .post-container > div,
#content2 .post-container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--stroke-gray-01);
    gap: 8px;
    padding: 24px 0;
}

.notice-primary {
    background: var(--background-blue-01);
    border-radius: 4px;
    font-size: var(--body-01);
    padding: 2px 8px;
    color: var(--text-white);
    margin-right: 8px;
}

.notice-secondary {
    background: var(--background-gray-02);
    border-radius: 4px;
    font-size: var(--body-01);
    padding: 2px 8px;
    color: var(--text-third);
    margin-right: 8px;
}

#content1 .post-container > div > span:first-child,
#content2 .post-container > div > span:first-child {
    font-size: var(--subtitle-03);
    color: var(--color-gray-hover);
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#content1 .post-container > div > span:last-child,
#content2 .post-container > div > span:last-child {
    font-size: var(--body-03);
    color: var(--text-third);
    width: 100%;
    cursor: pointer;
}

pagination-container {
    margin-bottom: 120px;
}

@media (max-width: 640px) {
    #content1 .post-container,
    #content2 .post-container {
        margin: 32px 0;
    }

    #content1 .post-container > div > span:first-child,
    #content2 .post-container > div > span:first-child {
        font-size: var(--body-03);
    }

    #content1 .post-container > div > span:last-child,
    #content2 .post-container > div > span:last-child {
        font-size: var(--body-02);
    }
}
