.content-wrapper > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 0px;
    flex-direction: column;
}

.content-wrapper > div > img {
    max-width: 100%;
    height: auto;
    content: url(/image/pages/customer-support/meetingroom-success/check.svg);
}

span {
    text-align: center;
}

.content-wrapper > div > span:nth-child(2) {
    font-size: var(--title-02);
    color: var(--text-primary);
    margin-top: 48px;
    width: 350px;
}

.content-wrapper > div > span:nth-child(3) {
    font-size: var(--body-03);
    color: var(--text-third);
    margin-top: 16px;
    width: 350px;
    padding: 0 24px;
    box-sizing: border-box;
}

.content-wrapper > div > button-default {
    width: 350px;
    margin-top: 32px;
}

@media (max-width: 1024px) {
    .content-wrapper > div {
        padding: 48px 0;
    }
    .content-wrapper > div > span:nth-child(2) {
        font-size: var(--subtitle-03);
        color: var(--text-primary);
        margin-top: 32px;
        width: 100%;
    }

    .content-wrapper > div > span:nth-child(3) {
        font-size: var(--body-02);
        color: var(--text-third);
        margin-top: 16px;
        width: 100%;
        padding: 0 36px;
        box-sizing: border-box;
    }

    .content-wrapper > div > button-default {
        width: 100%;
        margin-top: 36px;
    }
}
