img {
    object-fit: cover;
}

.large-text-wrapper {
    text-align: left;
    max-width: 1100px;
    width: 100%;
    padding: 0;
    margin-top: 120px;
    font-size: var(--title-02);
}

.small-text-wrapper {
    text-align: left;
    max-width: 1100px;
    width: 100%;
    padding: 0;
    margin-top: 56px;
    color: var(--text-secondary);
    font-size: var(--body-03);
}

.sign-wrapper {
    display: flex;
    justify-content: right;
    max-width: 1100px;
    width: 100%;
    margin-top: 62px;
    margin-bottom: 120px;
}
.sign {
    width: 194px;
    height: 48px;
}

.text-accent {
    color: #4262ff;
}

.center-img {
    max-width: 1100px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0;
    margin-top: 48px;
    content: url(/image/pages/introduce/1-1.png);
}

tab-content:first-child > img {
    content: url(/image/pages/introduce/1-0.png);
}

@media (max-width: 640px) {
    .large-text-wrapper {
        font-size: var(--subtitle-03);
        margin-top: 64px;
    }
    .sign {
        width: 145px;
        height: 36px;
    }

    .small-text-wrapper {
        font-size: var(--body-02);
        margin-top: 48px;
    }

    .center-img {
        height: 160px;
        margin-top: 32px;
        content: url(/image/pages/introduce/1-1-m.png);
    }

    tab-content:first-child > img {
        content: url(/image/pages/introduce/1-0-m.png);
    }
}
