.item-wrapper {
    padding: 120px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.title-wrapper {
    font-size: var(--title-03);
    width: 100%;
    max-width: 1100px;
    text-align: left;
}

.explanation-wrapper {
    font-size: var(--body-04);
    width: 100%;
    max-width: 1100px;
    text-align: left;
    margin-top: 8px;
}

.visual-content {
    width: 100%;
    max-width: 1100px;
    background: gray;
    height: 320px;
    margin-top: 32px;
    border-radius: 4px;
}

.video-container {
    width: 100%;
    max-width: 1100px;
    margin-top: 32px;
    border-radius: 4px;

    position: relative;
    padding-bottom: min(56.25%, 619px);
    overflow: hidden;
    padding-top: 0;
    height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 619px;
}
.last-content {
    width: 100%;
    max-width: 1100px;
    margin-top: 32px;
    border-radius: 4px;
    box-sizing: border-box;
}

.last-content > div {
    display: flex;
    overflow: hidden;
    max-height: 381px;
    justify-content: center;
}

.last-content > div > img {
    max-width: 100%;
    height: auto;
    content: url(/image/pages/introduce/2-5.svg);
}

.subitem-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.subitem-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    width: 32%;
    border-radius: 4px;
    background: var(--background-gray-01);
}

.subitem-title {
    font-size: var(--body-04);
    color: var(--text-secondary);
    width: 100%;
    text-align: left;
}

.subitem-content {
    font-size: var(--body-02);
    color: var(--text-third);
    width: 100%;
    margin-top: 12px;
    text-align: left;
}

.img-content-wrapper {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-content-img {
    max-width: 375px;
    width: calc(100vw - 160px - 65%);
    padding: auto 0;
}

.img-content-img > img {
    max-width: 100%;
    height: auto;
}

.img-content-content-wrapper {
    box-sizing: border-box;
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 24px 36px;
    margin: 0;
}
.img-content-content-title {
    width: 100%;
    text-align: left;
    font-size: var(--title-01);
}

.img-content-content-subtitle {
    width: 100%;
    text-align: left;
    font-size: var(--body-03);
    color: var(--text-secondary);
    margin-top: 16px;
}

.img-content-content-content {
    width: 100%;
    text-align: left;
    font-size: var(--body-02);
    color: var(--text-third);
    margin-top: 4px;
}

.gap {
    gap: 32px;
}

tab-content:nth-child(2) > img {
    content: url(/image/pages/introduce/2-0.png);
}

#image1 {
    border-radius: 4px;
    content: url(/image/pages/introduce/2-1.png);
}
#image2 {
    border-radius: 4px;
    content: url(/image/pages/introduce/2-2.png);
}
#image3 {
    border-radius: 4px;
    content: url(/image/pages/introduce/2-3.png);
}
#image4 {
    border-radius: 4px;
    content: url(/image/pages/introduce/2-4.png);
}

@media (max-width: 640px) {
    .item-wrapper {
        padding: 64px 16px;
    }

    .title-wrapper {
        font-size: var(--subtitle-03);
    }

    .explanation-wrapper {
        font-size: var(--body-02);
        margin-top: 16px;
    }

    .visual-content {
        height: 160px;
    }

    .last-content > div > img {
        /*content: url(/image/pages/introduce/2-5-m.png);*/
    }

    .subitem-container {
        flex-direction: column;
        justify-content: center;
        margin-top: 16px;
    }
    .subitem-wrapper {
        height: auto;
        margin-top: 8px;
        width: 100%;
    }

    .subitem-title {
        font-size: var(--body-03);
    }

    .subitem-content {
        font-size: var(--body-01);
    }

    .img-content-wrapper {
        flex-direction: column;
    }

    .img-content-img {
        width: 100%;
        height: 200px;
        max-width: 100%;
    }

    .img-content-content-wrapper {
        width: 100%;
        padding: 16px 0;
    }

    .img-content-content-title {
        font-size: var(--subtitle-02);
    }

    .img-content-content-subtitle {
        font-size: var(--body-02);
    }

    .img-content-content-content {
        font-size: var(--body-01);
    }
    .gap {
        gap: 24px;
    }
    tab-content:nth-child(2) > img {
        content: url(/image/pages/introduce/2-0-m.png);
    }
    #image1 {
        content: url(/image/pages/introduce/2-1-m.png);
    }
    #image2 {
        content: url(/image/pages/introduce/2-2-m.png);
    }
    #image3 {
        content: url(/image/pages/introduce/2-3-m.png);
    }
    #image4 {
        content: url(/image/pages/introduce/2-4-m.png);
    }
}
