.location-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    padding: 120px 0;
}

.location-title {
    display: flex;
    font-size: var(--title-02);
    text-align: left;
    width: 100%;
    align-items: center;
}

.location-subtitle {
    color: var(--text-secondary);
    font-size: var(--body-03);
    margin-left: 16px;
}

.location-detail-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.location-map {
    width: 50%;
    max-width: 550px;
    border-radius: 0px 4px 4px 0px;
    box-sizing: border-box;
    background: var(--background-gray-03);
    min-height: 100%;
}

.location-detail {
    max-width: 550px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    box-sizing: border-box;
    background: var(--background-gray-01);
    gap: 32px;
    border-radius: 4px;
}

.location-detail-content-wrapper {
    display: flex;
    flex-direction: column;
}

.location-detail-title {
    font-size: var(--body-03);
    color: var(--text-third);
    text-align: left;
}

.location-detail-content {
    font-size: var(--body-04);
    color: var(--text-secondary);
    margin-top: 4px;
    text-align: left;
}

.location-detail-content-small {
    font-size: var(--body-03);
    color: var(--text-secondary);
    margin-top: 4px;
    text-align: left;
}

.public-transport-wrapper {
    font-size: var(--body-03);
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.public-transport-title {
    color: var(--text-primary);
    width: 110px;
    text-align: left;
}

.public-transport-content {
    color: var(--text-secondary);
    text-align: left;
    width: 372px;
}

tab-content:nth-child(3) > img {
    content: url(/image/pages/introduce/3-0.png);
}

@media (max-width: 640px) {
    .location-container {
        padding: 64px 0;
    }

    .location-title {
        font-size: var(--subtitle-03);
    }
    .location-subtitle {
        font-size: var(--body-02);
        margin-left: 8px;
    }

    .location-detail-wrapper {
        flex-direction: column;
    }

    .location-map {
        width: 100%;
        height: 160px;
        border-radius: 4px;
    }

    .location-detail {
        width: 100%;
        margin-top: 16px;
        gap: 24px;
    }

    .location-detail-title {
        font-size: var(--body-02);
    }

    .location-detail-content {
        font-size: var(--body-03);
    }
    .public-transport-wrapper {
        flex-direction: column;
    }
    .public-transport-title {
        width: 100%;
    }
    .public-transport-content {
        width: 100%;
    }
    tab-content:nth-child(2) > img {
        content: url(/image/pages/introduce/3-0-m.png);
    }
}
